<div class="service">
  <h1>
    <% if object.tags("url").size == 1 %>
      <span class="minor_heading">Resource: </span>
      <%= object.tag("url").text %>
    <% elsif object.tags("url").size > 1 %>
      <span class="minor_heading">Resource: </span>
      <ul>
        <% object.tags("url").each do |url_tag| %>
          <li><%= url_tag.text %></li>
        <% end %>
      </ul>
    <% end %>
  </h1>
  <% unless object.tags("topic").empty? %>
    <h3 class="topic">Topics:</h3>
    <ul class="box">
      <% object.tags("topic").each do |topic| %>
        <li><%= topic.text %></li>
      <% end %>
    </ul>
  <% end %>
  <% object.tags("image").each do |image| %>
    <img src="<%= image.text %>">
  <% end %>
  <%= yieldall %>
</div>












