<% if object.tags(:url).any? %>
<div class="restfuldoc">
  <div>
    <span>URL: </span><strong><%= object.tags(:url).first.text %></strong>
  </div>
  <div>
    <span>HTTP Method: </span><strong><%= object.tags(:url).first.type %></strong>
  </div>

  <h3>Examples:</h3>
  <pre>
$ curl -X <%= object.tags(:url).first.type %> -v <%= ENV['RESTFULDOC_HOST'] %><%= object.tags(:url).first.text %>
  </pre>
</div>
<% end %>
